
.idea/

GAN/GanLOG.egg-info/

figures/

GAN/__pycache__/

path-optim/__pycache__/

path-optim/PathOPTIM.egg-info/

*.npz

gan_update/__pycache__/

gan_update/grdecl_13_13_50_60/

gan_update/grdecl_32_32_50_60/

gan_update/images_test/
